.swiper {
	width: 240px;
	height: 320px;
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	/* background-position: c; */
	background-position: center;
	/* box-sizing: content-box; */
	background-size: cover;
	/* border: solid 2px #b0189f;	 */
	/* box-shadow: 10px 5px 5px rgb(84, 77, 1);} */
}
.swiper-slide:nth-child(1n) {
	background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
	background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
	background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
	background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
	background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
	background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
	background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
	background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
	background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
	background-color: rgb(54, 94, 77);
}
.music-range::-webkit-slider-thumb {
	width: 15px;
	/* -webkit-appearance: none; */
	/* appearance: none; */
	height: 15px;
	/* cursor: help; */
	background: #ed7b7b;
	/* box-shadow: -405px 0 0 400px #605E5C; */
	border-radius: 50%;
}
.music-range::-ms-track {
    /* width: 300px; */
    /* height: 5px; */
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
.music-range::-ms-fill-lower {
    background: #d30808;
    border-radius: 10px;
}
.music-range::-ms-fill-upper {
    background: #b10000;
    border-radius: 10px;
}
body {
	background: transparent;
}
/* customizable snowflake styling */
.snowflake {
	color: #fff;
	font-size: 1em;
	font-family: Arial;
	text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
	0% {
		top: -10%;
	}
	100% {
		top: 100%;
	}
}
@-webkit-keyframes snowflakes-shake {
	0% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
	50% {
		-webkit-transform: translateX(80px);
		transform: translateX(80px);
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}
@keyframes snowflakes-fall {
	0% {
		top: -10%;
	}
	100% {
		top: 100%;
	}
}
@keyframes snowflakes-shake {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(80px);
	}
	100% {
		transform: translateX(0px);
	}
}
.snowflake {
	position: fixed;
	top: -10%;
	z-index: 9999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	-webkit-animation-name: snowflakes-fall, snowflakes-shake;
	-webkit-animation-duration: 10s, 3s;
	-webkit-animation-timing-function: linear, ease-in-out;
	-webkit-animation-iteration-count: infinite, infinite;
	-webkit-animation-play-state: running, running;
	animation-name: snowflakes-fall, snowflakes-shake;
	animation-duration: 10s, 3s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
	left: 1%;
	-webkit-animation-delay: 0s, 0s;
	animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
	left: 10%;
	-webkit-animation-delay: 1s, 1s;
	animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
	left: 20%;
	-webkit-animation-delay: 6s, 0.5s;
	animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
	left: 30%;
	-webkit-animation-delay: 4s, 2s;
	animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
	left: 40%;
	-webkit-animation-delay: 2s, 2s;
	animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
	left: 50%;
	-webkit-animation-delay: 8s, 3s;
	animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
	left: 60%;
	-webkit-animation-delay: 6s, 2s;
	animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
	left: 70%;
	-webkit-animation-delay: 2.5s, 1s;
	animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
	left: 80%;
	-webkit-animation-delay: 1s, 0s;
	animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
	left: 90%;
	-webkit-animation-delay: 3s, 1.5s;
	animation-delay: 3s, 1.5s;
}
/* Demo Purpose Only*/
.demo {
	font-family: "Raleway", sans-serif;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;
}
.demo a {
	font-family: "Raleway", sans-serif;
	color: #000;
}
